<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Sdk" type="Sportradar.SDK.Services.SdkConfiguration.SdkConfigurationSection, BookmakerSdk" />
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core,abortConnect=false" />
  </configSections>
  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
    <hosts>
      <add host="195.244.59.108" cachePort="6379" />
    </hosts>
  </redisCacheClient>
  <appSettings>
    <add key="FtpUsername" value="klasgaming" />
    <add key="FtpPassword" value="VlS821bVwi9A1nfl3Z" />
    <add key="FtpFilePath" value="F:\Betradar_Test\Push\" />
    <add key="FtpRemoteUri" value="ftp://ftp.betradar.com/fixtures/" />
    <add key="FtpDownloadThreadCount" value="123" />
    <!--<add key="DB_Host" value="195.244.59.42"/>-->
    <add key="DB_Host" value="195.244.59.108" />
    <add key="DB_Port" value="5432" />
    <!--<add key="DB_Database" value="betradar"/>-->
    <add key="DB_Database" value="Betradar_v.1.1" />
    <add key="DB_Username" value="betradar" />
    <!--<add key="DB_Password" value="u+bnwfh%^6dL+Egh"/>-->
    <add key="DB_Password" value="h!E7$WGWtqF2Bgp9" />
    <add key="FtpPushPath" value="F:\Betradar_Test\Push\" />
    <add key="FtpHistoryPath" value="F:\Betradar_Test\History\" />
    <add key="FtpTempPath" value="F:\Betradar_Test\Temp\" />
    <add key="FtpPushOn" value="0" />
    <add key="FtpPullOn" value="0" />
    <add key="LiveOddsOn" value="1" />
    <add key="NotipierUri" value="https://notipier.com/api/commands/bulkmsg/" />
    <add key="NotipierUri2" />
    <add key="MaxQueueRetries" value="10" />
    <add key="CouponServiceIpPort" value="127.0.0.1:5556" />
    <add key="RedisServer" value="195.244.59.108" />
    <add key="RedisPort" value="6379" />
    <add key="RedisBetClearQueue" value="Queue_bet_clear" />
    <!--<add key="RCP_Server" value="195.244.59.222"/>-->
    <add key="RCP_Server" value="127.0.0.1" />
    <add key="RCP_Port" value="8080" />
    <add key="RCP_CommonHostName" value="Bet" />
    <add key="HybridgeClientServer" value="http://ws.klassrv.com/api/messages/" />
    <add key="HybridgeClientToken" value="#6c5278faa84ca2108e14999e661624dbf8968a5d@POKERKLAS" />
    <add key="HybridgeClientTokenLive" value="#029eecd3d3ab144564b378c3bbcc92a363984e6c@POKERKLAS" />
    <add key="ChannelsSecretPrefix_test" value="#" />
    <add key="ChannelsSecretPrefix_real" value="#" />
    <add key="ChannelsSecretKey_test" value="&lt;k#9|Kp9598135RpF7Ig63Eg^v6h3A&gt;" />
    <add key="ChannelsSecretKey_real" value="&lt;k#9|Kp9598135RpF7Ig63Eg^v6h3A&gt;" />
    <add key="ChannelsSecretPrefixLast_test" value="@KLAS" />
    <add key="ChannelsSecretPrefixLast_real" value="@KLAS" />
    <add key="ChannelsSecretPrefixLast_test2" value="@JESTBAHIS" />
    <add key="ChannelsSecretPrefixLast_real2" value="@JESTBAHIS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Sdk>
    <Common BookmakerId="5096" />
    <LiveOdds BookmakerKey="YK737L73" Test="false" />
    <!--Uncomment feeds you plan to use-->
    <!--<LiveScout ScoutUsername="5096" ScoutPassword="YK737L73"/>
    <LiveOddsVbl BookmakerId="5096" BookmakerKey="YK737L73"/>
    <LiveOddsVfl BookmakerId="5096" BookmakerKey="YK737L73"/>
    <LiveOddsVhc BookmakerId="5096" BookmakerKey="YK737L73"/>
    <LiveOddsVdr BookmakerId="5096" BookmakerKey="YK737L73"/>
    <LiveOddsVto BookmakerId="5096" BookmakerKey="YK737L73"/>-->
    <!--<BetPal BookmakerId="5096" BookmakerKey="YK737L73" />-->
    <!--<LivePlex BookmakerId="5096" BookmakerKey="YK737L73" />-->
    <!--<SoccerRoulette BookmakerId="5096" BookmakerKey="YK737L73" />-->
    <!--<OddsCreator Username="5096" Password="YK737L73"/>-->
    <Lcoo Username="Klasgaming" Password="997024e77805" FeedName="Fixtures" FixtureTimezone="UTC" />
  </Sdk>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>