<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Sdk" type="Sportradar.SDK.Services.SdkConfiguration.SdkConfigurationSection, BookmakerSdk" />
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core,abortConnect=false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AutoReplay" value="true" />
    <add key="FtpUsername" value="klasgaming" />
    <add key="FtpPassword" value="VlS821bVwi9A1nfl3Z" />
    <add key="FtpFilePath" value="F:\Betradar_Test\Push\" />
    <add key="FtpRemoteUri" value="ftp://ftp.betradar.com/fixtures/" />
    <add key="FtpDownloadThreadCount" value="123" />


    <!--<add key="DB_Host" value="77.223.158.22" />
    <add key="DB_Port" value="5432" />
    <add key="DB_Database" value="Betradar_v.1.1" />
    <add key="DB_Username" value="betradar" />
    <add key="DB_Password" value="fQKkGNDSzHCp" />-->
    
    
    <add key="DB_Host" value="195.244.59.42" />
    <add key="DB_Port" value="5432" />
    <add key="DB_Database" value="Betradar_v.1.1" />
    <add key="DB_Username" value="betradar" />
    <add key="DB_Password" value="123456" />
    
    
    <add key="FtpPushPath" value="F:\Betradar_Test\Push\" />
    <add key="FtpHistoryPath" value="F:\Betradar_Test\History\" />
    <add key="FtpTempPath" value="F:\Betradar_Test\Temp\" />
    <add key="FtpPushOn" value="0" />
    <add key="FtpPullOn" value="0" />
    <add key="LiveOddsOn" value="1" />
    <add key="NotipierUri" value="https://notipier.com/api/commands/bulkmsg/" />
    <add key="NotipierUri2" />
    <add key="MaxQueueRetries" value="10" />
    <add key="CouponServiceIpPort" value="127.0.0.1:5556" />
    <add key="RedisServer" value="77.223.158.50" />
    <add key="RedisServerPassword" value="mYLHmYzKe9fc" />
    <add key="RedisPort" value="6379" />
    <add key="RedisBetClearQueue" value="Queue_bet_clear" />
    <add key="RedisCommandChannel" value="hybridge_merchant_commands" />
    <add key="RedisBetChannel" value="BetChannel" />
    <!--<add key="RCP_Server" value="195.244.59.222"/>-->
    <add key="RCP_Server" value="127.0.0.1" />
    <add key="RCP_Port" value="8080" />
    <add key="RCP_CommonHostName" value="Bet" />
    <add key="HybridgeClientServer" value="wss://ws.klassrv.com/socket/websocket?vsn=1.0.0" />
    <add key="HybridgeClientServer_Rest" value="http://77.223.158.30:4000" />
    <add key="HybridgeClientToken" value="#6c5278faa84ca2108e14999e661624dbf8968a5d@POKERKLAS" />
    <add key="HybridgeClientTokenLive" value="#029eecd3d3ab144564b378c3bbcc92a363984e6c@POKERKLAS" />
    <add key="HybridgeClientServer_socket" value="ws://195.244.59.46:4000/socket/merchant/websocket?vsn=1.0.0" />
    <add key="HybridgeClientToken" value="" />
    <add key="HybridgeClientUserName" value="betradar_worker" />
    <add key="HybridgeClientUserPassword" value="Neuro~412kb." />
    <add key="ChannelsSecretPrefix_test" value="#" />
    <add key="ChannelsSecretPrefix_real" value="#" />
    <add key="ChannelsSecretKey_test" value="&lt;k#9|Kp9598135RpF7Ig63Eg^v6h3A&gt;" />
    <add key="ChannelsSecretKey_real" value="&lt;k#9|Kp9598135RpF7Ig63Eg^v6h3A&gt;" />
    <add key="ChannelsSecretPrefixLast_test" value="@KLASTEST" />
    <add key="ChannelsSecretPrefixLast_real" value="@KLAS" />
    <add key="ChannelsSecretPrefixLast_test2" value="@JESTBAHISTEST" />
    <add key="ChannelsSecretPrefixLast_real2" value="@JESTBAHIS" />
    <add key="ChannelsSecretPrefixLast_test3" value="@PRESTIJBETTEST" />
    <add key="ChannelsSecretPrefixLast_real3" value="@PRESTIJBET" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Seamless_Services" value="http://seamless.test6.klasgaming.com/seamless/betradar/betresult/" />
  </appSettings>
  <Sdk>
    <Common BookmakerId="5696" />
   <!--<LiveOdds BookmakerId="5096" BookmakerKey="YK737L73" Test="true" />-->
    <!--<LiveOdds BookmakerId="5696" BookmakerKey="pWED6SfY" Test="true" />-->
    <Lcoo Username="KlasgamingTest" Password="41e8cb6fc216" FeedName="Fixtures" FixtureTimezone="UTC" />
  </Sdk>

  <!--<Sdk>
    <Common BookmakerId="5096" />
    <LiveOdds BookmakerKey="YK737L73" Test="false" />
   
    <Lcoo Username="Klasgaming" Password="997024e77805" FeedName="Fixtures" FixtureTimezone="UTC" />
  </Sdk>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<appSettings>
    <add key="RedisServer" value="195.244.59.108"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisBetClearQueue" value="Queue_bet_clear"/>
    <add key="RedisSendApiQueue" value="api_send"/>
    <add key="RedisBetClearQueue" value="Queue_bet_clear"/>
    <add key="RCP_Server" value="127.0.0.1"/>
    <add key="RCP_Port" value="8080"/>
    <add key="RCP_CommonHostName" value="Bet"/>
    <add key="DB_Host" value="195.244.59.108"/>
    <add key="DB_Port" value="5432"/>
    --><!--<add key="DB_Database" value="betradar"/>--><!--
    <add key="DB_Database" value="Betradar_v.1.1"/>
    <add key="DB_Username" value="betradar"/>
    <add key="Seamless_Services" value ="http://seamless.test6.klasgaming.com/seamless/betradar/betresult/"/>
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
